
<mat-toolbar class="example-header text-center" >TodoList Manager
  <mat-divider [vertical]="true"></mat-divider>
  <button (click)="openDialog()" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid p-3 o-auto"  >
  <div class="row" >
    <app-todo-card class="col-sm-3  mb-2" (eventRemove)="removeCard($event)" *ngFor="let card of cards" [card]="card" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
    </app-todo-card>
  </div>
</div>


<mat-toolbar class="example-footer" >Simply designed by Falilou</mat-toolbar>



